[Desktop Entry]
Version=1.6
Name=Solseek
GenericName=Package Manager
Comment=Manage Solus packages, Flatpaks, and Snaps
Keywords=software;package;manager;update;install;eopkg;flatpak;snap;system;
Exec=solseek
Icon=solseek
Terminal=true
Type=Application
Categories=System;
